<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seed Maker Simulator</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <!-- META TAGS -->
    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Seed Maker Simulator">
    <meta property="og:title" content="Seed Maker Simulator">
    <meta property="og:description" content="Seed Maker Simulator">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/public/og.png">
    <meta property="og:image:secure_url" content="/public/og.png">
    <!-- <meta property="og:url" content=""> -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Seed Maker Simulator">
    <meta name="twitter:description" content="Seed Maker Simulator">
    <meta name="og_twitter_card" content="summary_large_image">
    <meta name="image" content="/public/og.png">
    <meta name="twitter:image" content="/public/og.png">
    <!-- <meta name="twitter:url" content=""> -->

    <!-- Primary Meta Tags -->
    <title>Flávio Freitas - Freelance Artist</title>
    <meta name="description" content="Seed Maker Simulator">
    <meta name="keywords" content="seed maker, seed maker simulator, stardew valley, ancient seed, mixed seeds">
    <!-- META TAGS -->

    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=VT323:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap" rel="stylesheet">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- Vuetify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.7/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.7/dist/vuetify.min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="app-container">
            <div class="flex column align-center container margin-auto">
                
                <div class="container mb-5 flex column align-center">
                    <img class="header-logo" src="public/logo.png">
                    <h1 class="paint">Seed Maker Simulator</h1>
                </div>

                <!-- SEED MAKERS COORDINATES (FARM PREVIEW) -->
                <!-- 80 x 65 -->
                <div class="flex row justify-center my-4 mx-4">
                    <!-- MAP -->
                    <div class="flex column align-center justify-center">
                        <div class="elevation-8">
                            <div class="board">
                                <div class="farm-container no-select">
                                    <img src="public/farm.jpg" class="farm no-select">
                                    <div class="farm no-select">
                                        <div v-for="(row, y) in farmSlots" class="flex row">
                                            <div v-for="(slot, x) in row" class="flex column" >
                                                <div class="farm-slot tooltip-activator no-select" @mousedown="toggleFarmSlot(x,y)" @mouseover="mouseOverFarmSlot(x,y)">
                                                    <div class="farm-slot-container no-pointer no-select">
                                                        <div :class="`tooltip align-center ${farmSlots[y][x] === true ? 'tooltip-active' : ''}`">{{x}}, {{y}}</div>
                                                        <img src="public/seedmaker.png" class="farm-slot-seedmaker" v-show="farmSlots[y][x] === true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CORNER BUTTONS -->
                        <div class="flex flex-row self-start mt-3">
                            <div @click="clearFarmSlots" class="tooltip-activator">
                                <img src="public/trashcan.png" class="map-button px-1">
                                <div class="farm-button-tooltip absolute">
                                    <div class="tooltip relative align-center">Delete All</div>
                                </div>
                            </div>
                            <div @click="loadSaveFile" class="tooltip-activator">
                                <img src="public/computer.png" class="map-button px-1">
                                <div class="farm-button-tooltip absolute">
                                    <div class="tooltip align-center">Load from Savefile</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="flex wrap align-start justify-center">

                    <!-- FORM -->
                    <div class="flex column align-center mb-4 mx-4">
                        <v-card color="primary" elevation="8" class="pa-1 overflow-visible">
                            <div class="flex justify-center board">
                                <div class="v-box ">
                                    <div class="flex container column pa-2">
                                        
                                        <!-- PROFILES -->
                                        <div class="flex container column ma-0 pa-0 mb-5">
                                            <label for="profile">Profile </label>
                                            <div class="tooltip-activator">
                                                <select v-model="profileIndex" id="profileIndex" name="profileIndex" class="date">
                                                    <option v-for="(profile, i) in profileList" :value="i">{{ profile.name }}</option>
                                                </select>
                                                <div class="profile-tooltip absolute">
                                                    <div class="tooltip align-center justify-center column pa-4 font20">
                                                        <div class="font24 mb-3">{{ currentProfile.name }}</div>
                                                        <div class="flex row justify-center">
                                                            <div class="flex column align-end justify-center mr-2">
                                                                <div>Game ID:</div>
                                                                <div>Year:</div>
                                                                <div>Season:</div>
                                                                <div>Day:</div>
                                                                <div>Days Played:</div>
                                                                <div>Seed Makers:</div>
                                                            </div>
                                                            <div class="flex column align-start justify-center ml-2">
                                                                <div>{{ currentProfile.gameID }} </div>
                                                                <div>{{ currentProfile.year }}</div>
                                                                <div>{{ SEASONS[currentProfile.season-1].name }}</div>
                                                                <div>{{ currentProfile.year }}</div>
                                                                <div>{{ currentProfileDaysPlayed }}</div>
                                                                <div>{{ currentProfileSeedMakerCount }} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="my-2"></div>

                                        <!-- GAME ID -->
                                        <div class="flex container column ma-0 pa-0 tooltip-activator">
                                            <label for="gameID">Game ID (?)</label>
                                            <input v-model="currentProfile.gameID" type="number" id="gameID" name="gameID" min="0">
                                            <div class="gameid-tooltip absolute">
                                                <div class="tooltip align-center">
                                                    Your game save has this number writen in its file name. <br>
                                                    You can find it at AppData/Roaming/StardewValley/Saves
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- CALENDAR (YEAR & DAY) -->
                                        <div class="h-box mt mb">
                                            <img
                                            :width="24"
                                            src="public/calendar.png"
                                            class="self-end mr-3"
                                            ></img>

                                            <div class="v-box items-start mr-2">
                                                <label for="year" class="self-start">Year</label>
                                                <input v-model="currentProfile.year" type="number" id="year" name="year" class="date" min="1">
                                            </div>
                                            
                                            <div class="v-box items-start ml-2">
                                                <label for="day" class="self-start">Day</label>
                                                <input v-model="currentProfile.day" type="number" id="day" name="day" class="date" min="1" max="28">
                                            </div>
                                            
                                        </div>

                                        <!-- SEASON -->
                                        <div class="v-box items-start">
                                            <label for="season" class="self-start">Season: {{ currentSeason.name }}</label>
                                            <div class="flex row justify-center align-center">
                                                <div class="flex row justify-center season tooltip-activator" v-for="(iSeason, i) in SEASONS" @click="setSeason(iSeason.value)">
                                                    <img :src="iSeason.icon" :class="`filter-button ${season === iSeason.value ? 'active' : 'inactive'}`">
                                                    <div class="season-tooltip absolute">
                                                        <div class="tooltip align-center font20 column justify-center">
                                                            <span>{{ iSeason.name }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- DAYS PLAYED -->
                                        <div class="h-box self-start mt-2">
                                            <div class="v-box align-start mr-2">
                                                <label for="daysPlayed">Days Played:</label>
                                            </div>
                                            <div class="v-box align-start">
                                                <div>{{ daysPlayed }}</div>
                                            </div>
                                        </div>

                                        <div class="my-4"></div>

                                        <!-- WARNING -->
                                        <div class="flex row justify-center align-center cta-warning" v-show="currentSeedMakerCount <= 0">
                                            <img src="public/warning.png" class="pixelated mr-2"  height="27">
                                            <div class="ml-2">Zero seed makers in the map.<br>Add some to generate day.</div>
                                        </div>

                                        <!-- GENERATE DAY -->
                                        <div class="button self-center">
                                            <v-btn
                                            color="button" rounded="0"
                                            @click="generateDay"
                                            size="x-large"
                                            elevation="4"
                                            :disabled="isCalculatingSchedule || currentSeedMakerCount <= 0"
                                            class="cta mt-5 mb-3"
                                            :ripple="{ class: 'text-secondary' }">
                                                Generate Day
                                            </v-btn>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </v-card>
                        
                        <div class="flex column mt-4">
                            <div class="flex row">
                                <div id="donate" class="donate px-2 no-select" @click.stop="openurl('https://www.paypal.com/donate?hosted_button_id=28PBV9DFYQC72')">
                                    <div class="flex row align-center justify-center donate-content">
                                        <div class="mr-4">Buy me a </div>
                                        <img src="public/coffee.png" class="filter-button" @click.stop="openurl('https://ko-fi.com/flafdraws')">
                                        <div class="ml-2">!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex row align-center mt-2">
                                <div class="bounce-animation delay25">
                                    <img src="public/paypal.png" class="donate-button filter-button" @click.stop="openurl('https://www.paypal.com/donate?hosted_button_id=28PBV9DFYQC72')">
                                </div>
                                <div class="bounce-animation delay50">
                                    <img src="public/ko-fi.png" class="donate-button filter-button ml-1" @click.stop="openurl('https://ko-fi.com/flafdraws')">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RESULTS BOARD -->
                    <div class="flex row align-center justify-center mx-4">
                        <v-card color="primary" elevation="8" class="pa-1 overflow-visible">
                            <div class="board container px-5 py-3">

                                <!-- FILTERS -->
                                <div class="flex column justify-end mb-4">
                                    <div class="flex row justify-start align-center items-center">
                                        <img :width="24" src="public/filter.png" class="ma-0">
                                        <div class="ml-1 mr-4 self-center">Filters:</div>
                                        <div class="tooltip-activator"  @click="toggleFilter1">
                                            <div :class="`filter-button ${show1 ? '' : 'disabled'}`">1</div>
                                            <div class="filter-tooltip absolute">
                                                <div class="tooltip align-center font20 column justify-center">
                                                    <span>Filter: 1 Same Seeds</span>
                                                    <span class="font14">(the one inserted into the seed maker)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tooltip-activator" @click="toggleFilter2">
                                            <div :class="`filter-button ${show2 ? '' : 'disabled'}`">2</div>
                                            <div class="filter-tooltip absolute">
                                                <div class="tooltip align-center font20 column justify-center">
                                                    <span>Filter: 2 Same Seeds</span>
                                                    <span class="font14">(the one inserted into the seed maker)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tooltip-activator" @click="toggleFilter3">
                                            <div :class="`filter-button ${show3 ? '' : 'disabled'}`">3</div>
                                            <div class="filter-tooltip absolute">
                                                <div class="tooltip align-center font20 column justify-center">
                                                    <span>Filter: 3 Same Seeds</span>
                                                    <span class="font14">(the one inserted into the seed maker)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex justify-center align-center tooltip-activator" @click="toggleFilterMixed">
                                            <img src="public/mixed.png" :class="`filter-button px-1 ${showMixed ? '' : 'disabled'}`">
                                            <div class="seed-tooltip absolute">
                                                <div class="tooltip align-center font20">Filter: Mixed Seeds</div>
                                            </div>
                                        </div>
                                        <div class="flex justify-center align-center tooltip-activator" @click="toggleFilterAncient">
                                            <img src="public/ancient.png" :class="`filter-button px-1 ${showAncient ? '' : 'disabled'}`">
                                            <div class="seed-tooltip absolute">
                                                <div class="tooltip align-center font20">Filter: Ancient Seed</div>
                                            </div>
                                        </div>
                                        <div class="flex justify-center align-center tooltip-activator" @click="toggleFilterEmptyHours">
                                            <img src="public/clock.png" :class="`filter-button px-1 ${showEmptyHours ? '' : 'disabled'}`">
                                            <div class="seed-tooltip absolute">
                                                <div class="tooltip align-center font20">Filter: Empty Hours</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- USELESS PROGRESS BAR -->
                                <!-- JS is 1-thread only, this isn't going to render -->
                                <div v-show="isCalculatingSchedule">
                                    <v-progress-linear color="paint" model-value="progressPercentage" :height="20"></v-progress-linear>
                                </div>

                                <!-- RESULTS -->
                                <div class="flex column" v-show="!isCalculatingSchedule">
                                    
                                    <!-- SEED MAKERS -->
                                    <div class="flex row">

                                        <!-- timeOfDay empty column -->
                                        <div class="time-of-day self-end mr-2 seedmaker-slot"></div>

                                        <div class="flex items-center align-center justify-center mb-2" v-for="(seedmaker, i) in daySchedule.seedMakers">
                                            <div class="seedmaker-slot self-center flex justify-center align-center tooltip-activator">
                                                <div class="flex column">
                                                    <v-img
                                                    :width="32"
                                                    cover
                                                    src="public/seedmaker.png"
                                                    ></v-img>
                                                    <div class="seedmaker-coord">X: {{ seedmaker.x }}</div>
                                                    <div class="seedmaker-coord">Y: {{ seedmaker.y }}</div>
                                                </div>
                                                <div class="seedmaker-tooltip absolute">
                                                    <div class="tooltip align-center">Seed Maker #{{seedmaker.index + 1}}<br>(x: {{seedmaker.x}}, y:{{seedmaker.y}})</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- HOURS -->
                                    <div v-for="(hour, i) in filteredDaySchedule.hours">
                                        <div class="flex row" v-show="hour.isVisible || showEmptyHours">
                                            <div class="time-of-day self-center mr-2">{{ DAYHOURS[i] }}</div>
                                            
                                            <div class="flex items-center align-center justify-center" v-for="(seed, j) in hour.seeds">
                                                <div v-if="seed.type === 0" class="slot self-center flex justify-center align-center tooltip-activator">
                                                    <span class="seed self-center">{{ isSeedVisible(seed) ? seed.amount : '' }}</span>
                                                    <div class="seed-tooltip absolute">
                                                        <div class="tooltip align-center">Same Seed{{seed.amount > 1 ? 's' : ''}}: {{ seed.amount }}</div>
                                                    </div>
                                                </div>
                                            
                                                <div v-else-if="seed.type === 1" class="slot self-center flex justify-center align-center tooltip-activator relative pa-1">
                                                    <v-img v-show="showMixed"
                                                    :width="32"
                                                    cover
                                                    src="public/mixed.png"
                                                    ></v-img>
                                                    <div v-if="seed.amount > 1" v-show="showMixed" class="seed-counter">{{ seed.amount }}</div>
                                                    <div class="seed-tooltip absolute">
                                                        <div class="tooltip align-center">Mixed Seed{{seed.amount > 1 ? 's' : ''}}: {{ seed.amount }}</div>
                                                    </div>
                                                </div>
                                                
                                                <div v-else-if="seed.type === 2" class="slot self-center flex justify-center align-center tooltip-activator pa-1">
                                                    <v-img v-if="showAncient"
                                                    :width="32"
                                                    cover
                                                    src="public/ancient.png"
                                                    ></v-img>
                                                    <div class="seed-tooltip absolute">
                                                        <div class="tooltip align-center">Ancient Seed: {{ seed.amount }}</div>
                                                    </div>
                                                </div>
                
                                                <div v-else class="slot self-center flex justify-center align-center pa-1">
                                                    <v-img
                                                    :width="24"
                                                    cover
                                                    src="public/x.png"
                                                    ></v-img>
                                                    <div class="seed-tooltip failedseed-tooltip absolute">
                                                        <div class="tooltip align-center">Server failed to<br>calculate this value.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </v-card>
                    </div>

                </div>
            </div>
        </div>

        <span class="bg"></span>
    </div>
</body>

<script src="mouse.js"></script>
<script src="randomcs.js"></script>
<script src="seedmaker.js"></script>
<script src="profile.js"></script>
<script src="app.js"></script>

</html>

