html, body {
    overflow-x: auto;
}

* {
    font-family: 'VT323', 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, p {
    color: #281726;
}

.header-logo {
    width: 500px;
}
@media screen and (max-width:480px) {
    .header-logo {
        width: 350px;
    }
}
@media screen and (max-width:1200px) {
    .header-logo {
        width: 250px;
    }
}

h1 {
    font-size: xxx-large;
}
@media screen and (max-width:480px) {
    h1 {
        font-size: x-large;
    }
}
@media screen and (max-width:1200px) {
    h1 {
        font-size: xx-large;
    }
}

h1.paint {
    color: #E0A100;
    text-shadow:
        -3px 5px 0 rgba(0, 0, 0, 0.5),  
        2px -2px 0 rgba(0, 0, 0, 0.5),
        -2px 2px 0 rgba(0, 0, 0, 0.5),
        2px 2px 0 rgba(0, 0, 0, 0.5);
}

.bg {
    background: url('public/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.v-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.h-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 1rem;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.board {
    min-width: 200px;
    min-height: 100px;
    background: linear-gradient(0deg, #FFC97B 0%, #EEA968 100%);
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 2px #B04E02, 0px 0px 0px 2px #FA950E, 0px 0px 0px 4px #853502;
    padding: 0;
    margin: 0;
}
.slot {
    text-align: center;
    border-radius: 0px;
    box-shadow: 1px -1px 0px 1px #D29050, -1px 1px 0px 1px #FFE39C;
    padding: 0;
    width: 48px;
    height: 48px;
    margin: 2px;
}
.seedmaker-slot {
    text-align: center;
    border-radius: 0px;
    padding: 0;
    width: 48px;
    height: 96px;
    margin: 2px;
}
.seedmaker-coord {
    line-height: 18px;
}

.form-box
{
    width: 30rem;
}

.form-box label
{
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.spacer {
    width: 20px;
    height: 10px;
}

/* ===================================
 *  FARM PREVIEW
 * =================================== */
.farm-container {
    position: relative;
    width: 1280px;
    height: 1040px;
    cursor: pointer;
}
img.farm {
    width: 1280px;
    height: 1040px;
}
.farm {
    position: absolute;
    left: 0px;
    top: 0px;
}
.farm-slot {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    color: white;
    box-shadow: inset 0px 0px 0px 0.25px rgba(0, 0, 0, 0.25);
}
.farm-slot-container {
    position: relative;
}
.farm-slot:hover {
    background-color: rgba(0, 0, 0, 0.25);
}


.farm-button-tooltip {
    text-decoration: none;
    align-content: center;
}
.farm-button-tooltip .tooltip {
    top: -100px;
    left: -40px;
    width: 128px;
    height: 50px;
    z-index: 100;
    text-align: center;
    line-height: 20px;
}

.profile-tooltip {
    text-decoration: none;
    align-content: center;
    pointer-events: none;
}
.profile-tooltip .tooltip {
    top: -260px;
    left: 0px;
    width: 250px;
    height: 200px;
    z-index: 100;
    text-align: center;
    line-height: 20px;
}

.gameid-tooltip {
    text-decoration: none;
    align-content: center;
    pointer-events: none;
}
.gameid-tooltip .tooltip {
    top: -80px;
    left: 0px;
    width: 380px;
    height: 80px;
    font-size: 16px;
    z-index: 100;
    text-align: center;
    line-height: 20px;
}
@media screen and (max-width:1200px) {
    .gameid-tooltip .tooltip {
        left: -10px;
    }
}
@media screen and (max-width:480px) {
    .gameid-tooltip .tooltip {
        left: -32px;
    }
}

.seed-tooltip {
    pointer-events: none;
    text-decoration: none;
    align-content: center;
}
.seed-tooltip .tooltip {
    top: -45px;
    left: 0px;
    width: 180px;
    height: 50px;
    z-index: 100;
    text-align: center;
    line-height: 20px;
}
.failedseed-tooltip .tooltip {
    font-size: 16px;
}

.seedmaker-tooltip {
    pointer-events: none;
    text-decoration: none;
    align-content: center;
}
.seedmaker-tooltip .tooltip {
    top: -45px;
    left: 0px;
    width: 200px;
    height: 60px;
    z-index: 100;
    text-align: center;
    line-height: 25px;
}

.filter-tooltip {
    pointer-events: none;
    text-decoration: none;
    align-content: center;
}
.filter-tooltip .tooltip {
    top: -110px;
    left: -114px;
    width: 260px;
    height: 70px;
    z-index: 100;
    text-align: center;
    line-height: 22px;
}

.tooltip {
    color: white;
    display: none;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: 400;
    left: -32px;
    top: -48px;
    pointer-events: none;
    text-decoration: none;
    align-content: center;
}
.tooltip-activator:hover .tooltip
{
    display: flex;
    position: relative;
    justify-content: center;
}
.tooltip-activator:hover .tooltip.tooltip-active {
    background-color: rgba(0, 0, 0, 0.75);
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: 400;
    left: -32px;
    top: -48px;
}
.tooltip.tooltip-active
{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    left: -22px;
    top: -38px;
    background-color: rgba(0, 0, 0, 0.25);
}
.farm-slot-seedmaker {
    position: absolute;
    width: 16px;
    height: 32px;
    top: -16px;
    pointer-events: none;
}

@media screen and (max-width:1200px) {
    .farm-container {
        width: 640px;
        height: 520px;
    }
    img.farm {
        width: 640px;
        height: 520px;
    }
    .farm-slot {
        width: 8px;
        height: 8px;
    }
    .farm-tooltip {
        width: 36px;
        height: 16px;
        font-size: 12px;
        left: -14px;
        top: -24px;
    }
    .farm-slot:hover .farm-tooltip.farm-slot-true {
        width: 36px;
        height: 16px;
        font-size: 12px;
        left: -14px;
        top: -24px;
    }
    .farm-tooltip.farm-slot-true
    {
        width: 28px;
        height: 12px;
        font-size: 10px;
        left: -10px;
        top: -20px;
    }
    .farm-slot-seedmaker {
        width: 8px;
        height: 16px;
        top: -8px;
    }
}

@media screen and (max-width:480px) {
    .farm-container {
        width: 320px;
        height: 260px;
    }
    img.farm {
        width: 320px;
        height: 260px;
    }
    .farm-slot {
        width: 4px;
        height: 4px;
    }
    .farm-tooltip {
        width: 18px;
        height: 8px;
        font-size: 6px;
        left: -7px;
        top: -10px;
    }
    .farm-slot:hover .farm-tooltip.farm-slot-true {
        width: 18px;
        height: 8px;
        font-size: 6px;
        left: -7px;
        top: -10px;
    }
    .farm-tooltip.farm-slot-true
    {
        width: 14px;
        height: 6px;
        font-size: 5px;
        left: -5px;
        top: -8px;
    }
    .farm-slot-seedmaker {
        width: 4px;
        height: 8px;
        top: -4px;
    }
}
/* =================================== */


label {
    font-size: 16px;
    font-weight: 200;
}

.cta {
    padding: 1rem;
    color: #823102;
    background-color: #fbcd8b;
    border: 0;
    box-shadow: 0px 0px 7px 0px #823102;
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
    transform: scale(1.0);
}

.cta:hover {
    box-shadow: 0px 0px 20px 2px #823102;
}
.cta:active {
    color: #F5B76E;
    background-color: #A57D4B;
    transform: scale(1.1);
}
.cta-warning {
    line-height: 18px;
}

button, select {
    cursor: pointer;
}

button, select, input, .input {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 480px) {
    button, select, input, .input {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    button, select, input, .input {
        font-size: 20px;
    }
}

div.button > .v-btn {
    color: #FEC72E !important;
}

.button-ripple {
    color: #823102;
}


/* ===================================
 *  DONATE
 * =================================== */
 @keyframes bounce {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1.0); }
 }
 @keyframes bouncemax {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
 }
 
 .donate {
    background-image: url('public/speech.png');
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 93px;
    font-size: xx-large;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 9px;
    z-index: 2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: bounce;
}
.donate:hover {
    animation-name: bouncemax;
}
.donate-content {
    height: 81px;
}
.donate-button.filter-button {
    width: 32px;
}
.donate-button-group {
    padding-top: 3px;
    padding-bottom: 9px;
}
/* =================================== */
    

/* ===================================
 *  MAP BUTTONS
 * =================================== */
.map-button {
    transition: transform 0.25s ease-in-out;
    transform: scale(1.0);
    width: 48px;
    cursor: pointer;
}
.map-button:hover {
    filter: brightness(70%);
}
.map-button:active {
    filter: brightness(70%);
    transform: scale(1.2);
}
.map-button.disabled {
    filter: brightness(15%);
}
/* =================================== */


/* ===================================
 *  FITLER BUTTONS
 * =================================== */
.filter-button {
    transition: transform 0.25s ease-in-out;
    transform: scale(1.0);
    width: 32px;
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    cursor: pointer;
}
.filter-button:hover {
    filter: brightness(70%);
}
.filter-button:active {
    filter: brightness(70%);
    transform: scale(1.2);
}
.filter-button.disabled {
    filter: brightness(15%);
}
/* =================================== */

select, input[type=number], input[type=text], .input {
    color: #370E00;
    background-color: #fbcd8b;
    /* border: 3px solid #5E2A1F; */
    box-shadow: -1px 1px 0px 1px #945B34, 1px -1px 0px 1px #D77C10, -2px 2px 0px 2px #CBA163, 2px -2px 0px 2px #692617;
}

.disabled {
    color: #826665;
    font-weight: 400;
}

.date {
    width: 100px;
}
@media screen and (max-width: 480px) {
    .date {
        width: 70px;
    }
}
@media screen and (max-width: 768px) {
    .date {
        width: 85px;
    }
}

.time-of-day {
    font-weight: 400;
    font-size: 24px;
    text-align: right;
}
.seed {
    font-weight: 800;
    font-size: 28px;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}
.seed-counter {
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        display: block;
        position: absolute;
        bottom: -4px;
        right: 4px;
}

.overflow-visible { overflow: visible; }
.hide { display: none; }
.relative { position: relative; }
.absolute { position: absolute; }
.flex { display: flex; }
.row {flex-direction: row;}
.column { flex-direction: column; }
.wrap { flex-wrap: wrap;}
.no-wrap { flex-wrap: nowrap; }
.justify-start { justify-content: start;}
.justify-center { justify-content: center;}
.justify-end { justify-content: end;}
.align-center { align-content: center; }
.items-start { align-items: start; }
.items-center { align-items: center; }
.items-end { align-items: end; }
.self-start { align-self: flex-start;}
.self-center { align-self: center;}
.self-end { align-self: flex-end;}
.shrink { flex-shrink: 1; }
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.margin-auto { margin: auto; }
.mt { margin-top: 0.75rem; }
.mb { margin-bottom: 0.75rem; }
.ml { margin-left: 0.75rem; }
.mr { margin-right: 0.75rem; }

.pa { padding: 0.75rem; }
.pt { padding-top: 0.75rem; }
.pb { padding-bottom: 0.75rem; }
.pl { padding-left: 0.75rem; }
.pr { padding-right: 0.75rem; }

.font24 { font-size: 24px; }
.font22 { font-size: 22px; }
.font20 { font-size: 20px; }
.font18 { font-size: 18px; }
.font16 { font-size: 16px; }
.font14 { font-size: 14px; }

.pixelated {
    image-rendering: pixelated;
}

.test {
    background-color: #000;
    width: 2000px;
    height: 100px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-pointer {
    pointer-events: none;
}